.faq
	.layout.layout--faq
		h2.text-center Часто задаваемые вопросы
		.js-tabs
			.tabs__link.faq-tabs
				.js-tabs-link-title.faq-tabs__title.panel-shadow(style="background-image: url(./img/section1.png)")
					p.faq-tabs__text По оплате
				.js-tabs-link-title.active.faq-tabs__title.panel-shadow(style="background-image: url(./img/section2.png)")
					p.faq-tabs__text По уборке
				.js-tabs-link-title.faq-tabs__title.panel-shadow(style="background-image: url(./img/section3.png)")
					p.faq-tabs__text По персоналу
			.tabs__block.panel-shadow.faq-tabs__questions
				.js-tabs-block-content
					.column
						.faq-tabs__questions-list
							-
								questions = [
									['Вопрос По оплате 1'],
									['Вопрос По оплате 2'],
									['Вопрос По оплате 3'],
									['Вопрос По оплате 4'],
									['Вопрос По оплате 5'],
									['Вопрос По оплате 6']
								]
							ol.faq-tabs__questions-first
								each item in questions
									li.faq-tabs__counter
										a.faq-tabs__questions-items(href="#")=item
						.faq-tabs__questions-list
							-
								questions = [
									['Вопрос По оплате 7'],
									['Вопрос По оплате 8'],
									['Вопрос По оплате 9'],
									['Вопрос По оплате 10'],
									['Вопрос По оплате 11']
								]
							ol.faq-tabs__questions-second
								each item in questions
									li.faq-tabs__counter
										a.faq-tabs__questions-items(href="#")=item
				.js-tabs-block-content.visible
					.column
						.faq-tabs__questions-list
							-
								questions = [
									['Что входит в Ваши уборки?'],
									['Обязательно ли мое присутствие?'],
									['Чем вы убираетесь?'],
									['Что нужно предоставить клинеру для уборки?'],
									['Клинеру нужны чистые тряпочки?'],
									['Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?']
								]
							ol.faq-tabs__questions-first
								each item in questions
									li.faq-tabs__counter
										a.faq-tabs__questions-items(href="#")=item
						.faq-tabs__questions-list
							-
								questions = [
									['У меня большая квартира. Как её считать?'],
									['Делаете ли вы уборку в выходные?'],
									['Выезжаете ли вы в область за МКАД?'],
									['Что такое подписка и в чем ее преимущество?'],
									['Чем вы не занимаетесь?']
								]
							ol.faq-tabs__questions-second
								each item in questions
									li.faq-tabs__counter
										a.faq-tabs__questions-items(href="#")=item
				.js-tabs-block-content
					.column
						.faq-tabs__questions-list
							-
								questions = [
									['Вопрос По персоналу 1'],
									['Вопрос По персоналу 2'],
									['Вопрос По персоналу 3'],
									['Вопрос По персоналу 4'],
									['Вопрос По персоналу 5'],
									['Вопрос По персоналу 6']
								]
							ol.faq-tabs__questions-first
								each item in questions
									li.faq-tabs__counter
										a.faq-tabs__questions-items(href="#")=item
						.faq-tabs__questions-list
							-
								questions = [
									['Вопрос По персоналу 7'],
									['Вопрос По персоналу 8'],
									['Вопрос По персоналу 9'],
									['Вопрос По персоналу 10'],
									['Вопрос По персоналу 11']
								]
							ol.faq-tabs__questions-second
								each item in questions
									li.faq-tabs__counter
										a.faq-tabs__questions-items(href="#")=item